<h4 class="global-header">Shadow Dom</h4> Does not take style from global css

<h3 class="shadow-dom"> This is header with class shadow-dom</h3>
Styles are encapsulated
<h3 class="emulated"> This is header with class emulated</h3>
 not affected
<h3 class="none"> This is header with class none</h3>
takes style from none if styles are not defined within the comp

<h3 class="common"> Header with common class</h3>
casses defined within comp are applied over global and none

<h3 class="global-none"> styled to check which is more prior</h3>
none style are applied over global