<nav>

    <ul>

        <li><a [routerLink]="['/data-binding']" routerLinkActive="router-link-active" >Data Binding</a></li>
        <li><a [routerLink]="['/view-encapsulation']" routerLinkActive="router-link-active" >View encapsulation</a></li>
        <li><a [routerLink]="['/obs&prom']" routerLinkActive="router-link-active" >Observable and Promise</a></li>
        <li><a [routerLink]="['/obs&subj']" routerLinkActive="router-link-active" >Observable and Subject</a></li>
        <li><a [routerLink]="['/subj&behav&replay']" routerLinkActive="router-link-active" >Subject Behaviour and replay</a></li>
        <li><a [routerLink]="['/pipe']" routerLinkActive="router-link-active" >Pipe</a></li>
        <li><a [routerLink]="['/parent']" routerLinkActive="router-link-active" >constructor/ngOnInit</a></li>
        

    </ul>

</nav>